.header__nav {
  // float:left;
  // display: flex;
  // flex-direction: row;
  // flex:1;
  // justify-content: space-between;
}

.nav__logo {
  display: inline-block;
     float:left;
  
    // justify-content: center;
    border: 1px solid;
    // display: flex;
    flex: 1 1 auto;   
    background: #2196F3;  
    padding: 0.8rem 0 0.8rem 0;
    color:#fff;
 
  &-item {
     display: inline-block;
     float:right;
  
    // justify-content: center;
    border: 1px solid;
    // display: flex;
    flex: 1 1 auto;   
    background: #2196F3;  
    padding: 0.8rem 0 0.8rem 0;
    color:#fff;
    &:not(:last-child){
       border-right: 0;
       color:#fff;
    }
    & > a {
      color:#fff;
    }
  }
}